<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Tote Bag</title>
</head>
<body class="bodyform">
    <main class="conteinerform">
        <h1 class="logoform">Tote Bag <span>CONTACTO</span></h1>
        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-info">
                <p>Muchas gracias por contactarnos, en caso de solicitar una compra o consultar un precio, ingrese un mensaje indicando el nombre del artículo, que nos contactaremos con usted.</p>
            </div>
            <div class="contact-form">
                <form action="">
                    <p>
                        <label>Nombre completo</label>
                        <input type="text" name="fullname">
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Celular</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label>Ciudad</label>
                        <input type="text" name="affair">
                    </p>
                        <p class="block">
                           <label>Mensaje</label> 
                            <textarea name="Escriba su mensaje" rows="3"></textarea>
                        </p>
                        <p class="block">
                            <button>Enviar</button>
                        </p>
                </form>
            </div>
    
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <h4>Mas Info</h4>
            <ul class="ul">
                <li><i class="fas fa-map-marker-alt"></i>Mar del Plata</li>
                <li><i class="fas fa-phone"></i>223 1111111</li>
                <li><i class="fas fa-envelope-open-text"></i> totebag@website.com <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                    <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
                  </svg></li>
            </ul>
            <p>© 2023 Zuchelli J. Todos los derechos reservados.</p>
            <button><a href="/index.html">volver</a></button>
        </div>
    </footer>

</body>
</html>