<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Tote Bag</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/index.html"><img src="/public/imagen/logo" alt="logo"></a>
        </div>
        <h1>Tote Bag NOSOTROS</h1>
    </header>
    <main>
        <div class="seccion">
            <p>
                Las tote bags son bolsas de tela que han venido a sustituir a las bolsas de plástico. Las podemos usar como bolso, para guardar la compra, utilizarla como envoltorio para un regalo.
            </p>
            <p>
                La razón principal para utilizar una tote bag, además de ser bonitas, funcionales y cómodas, es porque su uso es totalmente ecológico debido a que representa al sustituto ideal y natural para las bolsas de plástico a la hora de ir al Mercado.
            </p>
            <article class="article">
                <iframe src="https://www.youtube.com/embed/Gfe0P1Rz-d0" title="EcoRight Large Tote Bag" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </article>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <h4>Mas Info</h4>
            <ul class="ul">
                <li><i class="fas fa-map-marker-alt"></i>Mar del Plata</li>
                <li><i class="fas fa-phone"></i>223 1111111</li>
                <li><i class="fas fa-envelope-open-text"></i> totebag@website.com <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                    <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
                  </svg></li>
            </ul>
            <p>© 2023 Zuchelli J. Todos los derechos reservados.</p>
            <button><a href="/index.html">volver</a></button>
        </div>
    </footer>
</body>
</html>